{% extends "base.html" %}
{% block title %}Measure Once Cut Thrice{% endblock %}
{% block body %}
<div align="center">
  <form action="/{{ userId }}/{{ currentPost }}" id="editorMode">
    Title <br>
    <input type="text" name="newTitle" value=" {{ currentPostTitle }}">
    <br> <br> <br>
    <textarea rows=20 cols="50" name="newContent" form="editorMode">
          {{ currentPostContent }}
        </textarea>
    <br> <br>
    <input type="submit" value="Save">
  </form>
</div>
{% endblock %}
