{% extends "base.html" %}
{% block title %}Measure Once Cut Thrice{% endblock %}
{% block body %}
<div align="right">
    <form action="{{ url_for('delete', userid = userid, blogid = blogid) }}" id="deletion">
        <input type="submit" value="Delete Post">
    </form>
</div>
<div align="center">
    <form action="{{ url_for('update', userid = userid, title = title, blogid = blogid) }}" id="editorMode">
        {% if not title %}
        Title: <input type="text" name="newTitle" value="{{ title }}">
        {% else %}
        <input type="hidden" name="newTitle" value="{{ title }}">
        Title: {{ title }}
        {% endif %}
        <br>
        <textarea name="newContent" form="editorMode"> {{ content }} </textarea>
        <br>
        <input type="submit" value="Save">
    </form>
</div>
{% endblock %}