{% extends "base.html" %}
{% block title %}Measure Once Cut Thrice{% endblock %}
{% block body %}
<div align="left">
  <form action="/edit">
    <input type="submit" value="Edit">
  </form>
</div>
<div align="right">
  <form action="/home">
    <input type="submit" value="Home">
  </form>
</div>
<div align="center">
  <h2> {{ post_title }} </h2>
  <br>
  <h3> {{ author }} </h3> <br>
  <h3> Created: {{ time_created }} <br>
    <h3> Updated: {{ time_updated }} <br> <br>
      {{ content }}
      <br><br><br><br><br>
</div>
{% endblock %}