<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>
      Signup
	  </title>
    <h1> {{ header }} </h1>
  </head>
  <div align="center">
    <body>
      <h2> Signup to Blog </h2>
      <br> {{ error }} <br>
      <!-- username and password form -->
      <form action="/signup">
        Create your username: <input type="text" name="username"> <br>
        Create your password: <input type="text" name="password"> <br>
        Confirm your password: <input type="text" name="confirm"> <br><br>
        <input type="submit">
      </form>
      <br> <br>
      <form action="/login">
        <input type="submit" value="Return to Login Page">
      </form>
      <br><br><br><br><br>
    </body>
    <footer>
      {{ footer }} &copy;
    </footer>
  </div>
</html>
